terraform_cloud_organization_name = "your-organization-name"
terraform_cloud_project_name      = "your-project-name"
terraform_cloud_workspace_name    = "your-workspace-name"
github_organisation               = "your-github-organization-name"
github_repository                 = "your-github-repository-name"
github_working_directory          = "part-1/terraform/infrastructure"
google_project_id                 = "your-google-project-id"
google_region                     = "europe-west2"
workload_identity_pool_id         = "terraform-cloud-pool"
workload_identity_provider_id     = "terraform-cloud-provider"
service_account_id                = "terraform-cloud-sa"
github_token                      = "github-token"